.banner{
    margin : 0 auto;
    background-color : rgb(86, 160, 138);
}
a{
    color : black ;
}
.a-white{
    color: white;
}
.select{
    background-color: rgb(86, 160, 138);
    border: 0px;
}
.select-white{
    border: 0px;
}
